net "CLK" loc = "p76";

net "DBG_ADDR[0]" loc = "p191";
net "DBG_ADDR[1]" loc = "p190";
net "DBG_ADDR[2]" loc = "p196";
net "DBG_ADDR[3]" loc = "p194";
net "DBG_ADDR[4]" loc = "p198";
net "DBG_ADDR[5]" loc = "p197";
net "DBG_ADDR[6]" loc = "p200";
net "DBG_ADDR[7]" loc = "p199";
net "DBG_ADDR[8]" loc = "p5";
net "DBG_ADDR[9]" loc = "p7";
net "DBG_ADDR[10]" loc = "p3";
net "DBG_ADDR[11]" loc = "p4";

net "RST" loc = "p20";
net "HLT" loc = "p16";

net "DATA[0]" loc = "p139";
net "DATA[1]" loc = "p140";
net "DATA[2]" loc = "p137";
net "DATA[3]" loc = "p138";
net "DATA[4]" loc = "p133";
net "DATA[5]" loc = "p135";
net "DATA[6]" loc = "p131";
net "DATA[7]" loc = "p132";
net "DATA[8]" loc = "p149";
net "DATA[9]" loc = "p150";
net "DATA[10]" loc = "p147";
net "DATA[11]" loc = "p148";
net "DATA[12]" loc = "p144";
net "DATA[13]" loc = "p146";
net "DATA[14]" loc = "p141";
net "DATA[15]" loc = "p143";
net "DATA[16]" loc = "p181";
net "DATA[17]" loc = "p176";
net "DATA[18]" loc = "p172";
net "DATA[19]" loc = "p175";
net "DATA[20]" loc = "p169";
net "DATA[21]" loc = "p168";
net "DATA[22]" loc = "p167";
net "DATA[23]" loc = "p171";
net "DATA[24]" loc = "p165";
net "DATA[25]" loc = "p166";
net "DATA[26]" loc = "p161";
net "DATA[27]" loc = "p162";
net "DATA[28]" loc = "p155";
net "DATA[29]" loc = "p156";
net "DATA[30]" loc = "p152";
net "DATA[31]" loc = "p154";